




a{
    text-decoration: none;
}

/*------------------------------------------------------------------
Navbar  
--------------------------------------------------------------------*/
.navbar-brand span{
    color: #F48840;
    font-weight: 800;
}
#activated{
    color: #F48840;
}
.nav-item{
    margin-left: 25px;
}
.nav-item a:hover{
    color:#F48840 !important ;
}

/* //fixed navbar  */
.containers{
    display: none;
}
/*------------------------------------------------------------------
Slider  
--------------------------------------------------------------------*/
.orange-text{
    color: #FF7A33;
}
.slider-text{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

/*------------------------------------------------------------------
Banner section  
--------------------------------------------------------------------*/
#banner{
    background: url(../images/cta-bg.jpg)no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner-right a{
    padding: 10px 20px ;
    display: inline-block;
    background: #FF7A33;
    color: white;
    font-weight: 600;
}

/*------------------------------------------------------------------
Blog section  
--------------------------------------------------------------------*/
.tag a{
    color: grey;
    font-weight: 600;
    transition: all 0.5s;
}
.tag a:hover{
    color: #F48840;
}


.recent-post-heading a{
    color: black;
    display: inline-block;
    padding-bottom: 4px;
    transition: all 0.1s ease-in-out;
}
.recent-post-heading a:hover{
    color:#FF7A33;
}
.catagories-list a{
    color: black;
    margin-top: 10px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.catagories-list a:hover{
    color: #FF7A33;
}
.tag-clouds a{
    padding: 12px 20px;
    color: #b9b9b6;
    margin-right: 10px;
    margin-top: 10px;
    background: white;
    display: inline-block;
    border: 1px solid #b9b9b6 ;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}
.tag-clouds a:hover, .pages a:hover, #active-page{
    background:#F48840;
    color: white;
}
.pages a{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid grey;
    color: grey;
    margin: 0 10px;
    transition: all 0.2s ;
}


.footer{
    background: #20232E;
}




@media only screen and (max-width:768px){
    .containers{
        display: block;
    }
    .navbars{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        padding: 10px 0px;
        box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.5);
    
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .navbar-elements{
        text-align: center;
        padding: 0 20px;
        position: relative;
    }
    .navbar-elements i{
        font-size: 20px;
    }
    
    
    #mid-icon{
        color: #198754;    
        position: absolute;
        bottom: -20%;
        left: -10%;
        border: 1px solid grey;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #2BCC46;
        box-shadow: 0px -5px 12px rgba(0,0,0,0.2);
    }
    #mid-icon i{
        font-size: 2.5em;     
        color: white;   
    }
}
