




a{
    text-decoration: none;
}

/*------------------------------------------------------------------
Navbar  
--------------------------------------------------------------------*/
.navbar-brand span{
    color: #F48840;
    font-weight: 800;
}
#activated{
    color: #F48840;
}
.nav-item{
    margin-left: 25px;
}
.nav-item a:hover{
    color:#F48840 !important ;
}


/*------------------------------------------------------------------
Slider  
--------------------------------------------------------------------*/
.orange-text{
    color: #FF7A33;
}
.slider-text{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

/*------------------------------------------------------------------
Banner section  
--------------------------------------------------------------------*/
#banner{
    background: url(../images/cta-bg.jpg)no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner-right a{
    padding: 10px 20px ;
    display: inline-block;
    background: #FF7A33;
    color: white;
    font-weight: 600;
}